.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-image: linear-gradient(to right, #00ffbf, #00bfff);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
}

.button:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
